@model ApplicationUser

<div class="user-info-grid">
    <div><strong>Name:</strong>@Model.Name </div>
    <div><strong>Email:</strong>@Model.Email</div>
    <div><strong>Phone:</strong>@Model.Phone</div>
    <div><strong>District:</strong>@Model.District</div>
    <div><strong>Blood Group:</strong>@Model.BloodGroup</div>
</div>






